.App {
  text-align: center;
}

.Critical-Outage {
  color: red;
}

.More-Detailed-Information {
  font-size: 15px;
}

.More-Detailed-Information-URL {
  color: white;
}

.More-Detailed-Information-URL:visited {
  color: white;
}

.Credits {
  font-size: 12px;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Gif {
  max-width: 80%;
}
